{{- template "base.gohtml" . -}}
{{define "head"}}
  <style>
    h2 {
      background-color: yellow;
    }
  </style>
{{end}}
{{define "body"}}
  <h2>Welcome to XXX</h2>
  <a href="post.gohtml">See Post</a>
{{end}}
